.circle-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -101px;
	margin-left: -101px;
	background-color: #a0ff7a;
	width: 202px;
	height: 202px;
}

.outer-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	border: 1px solid rgb(255, 0, 0);
	border-radius: 50%;
}

.inner-circle {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 0;
	height: 0;
	border: 1px solid rgb(0, 0, 255);
	border-radius: 50%;
}